body, html {
    height: 100%;
    margin: 0;
}

.nav-item {
    padding: 0 5px 0 5px;
}

.nav-item:hover {
    border-radius: 5px;
    background-color: #e5edff;
}

.login-page {
    display: flex;
    height: 100vh;
}

.login-page .left-side{
    flex: 2;
    background-image: url('https://images.unsplash.com/photo-1535223289827-42f1e9919769?auto=format&fit=crop&w=1920&q=80');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: solid red;*/
}

.left-side h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.left-side p {
    font-size: 1.2rem;
    max-width: 400px;
    text-align: center;
    margin-top: 1rem;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.login-page .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /*border: solid blue;*/
}

.login-form {
    width: 100%;
    max-width: 360px;
    padding: 30px;
    /*background-color: white;*/
    /*border-radius: 12px;*/
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);*/
}

.login-form .form-control {
    margin-bottom: 15px;
}

.login-form a {
    font-size: 0.9rem;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.terms-privacy-container {
    max-width: 900px;
    margin: 0 auto;
    background: white;
    padding: 2.5rem;
    /*border-radius: 12px;*/
    /*box-shadow: 0 4px 16px rgba(0,0,0,0.1);*/

    h1 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    h2 {
        margin-top: 2rem;
        font-size: 1.4rem;
    }

    p {
        text-align: justify;
    }
}

.post-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-title .author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.category-items img{
    width: 150px;
    height: auto;
    padding: 10px;
}

.new-post-form {
    display: flex;
    flex-direction: column;
}

.new-post-form .new-post-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
