<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>New Post | Z-Blog</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<header th:insert="fragments/header.html" > </header>

<div class="container">
    <form th:action="@{/new-post}" method="post" class="new-post-form">
        <h3 class="mb-5 mt-5">Đăng bài của riêng bạn</h3>
        <div class="row mb-2">
            <div class="col-md-8">
                <label style="width: 100%">
                    Title
                    <input type="text" name="title" class="form-control" placeholder="Title" required>
                </label>
            </div>
            <div class="col-md-4">
                <label style="width: 100%">
                    Category
                    <select name="category" class="form-select" aria-label="Category selector" >
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}"
                        ></option>
                    </select>
                </label>
            </div>
        </div>
        <label>
            Cover image
            <input type="text" name="thumbnailUrl" class="form-control" placeholder="Cover image URL" required>
        </label>
        <label>
            Summary
            <textarea name="summary" class="form-control mb-2" placeholder="Summary" required></textarea>
        </label>

        <label>
            Content
            <textarea name="content" rows="10" class="form-control mb-2" placeholder="Content"></textarea>
        </label>
        <button type="submit" class="btn btn-primary mb-2">Đăng bài</button>
    </form>
</div>

<footer th:insert="fragments/footer.html"> </footer>
</body>
</html>
